@model List<UsuariosDatos>
@{
    ViewBag.Title = "Index";
}

<h2>
    <a href="@Url.Action("Nuevo","Usuarios")" class="btn btn-primary right">Nuevo</a>
    Listado de Usuarios
</h2>

<hr/>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Correo</td>
            <td>Dirección</td>
            <td>Teléfono </td>
            <td>Edad</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var usuario in Model) 
        {
        <tr>
            <td>@usuario.id</td>
            <td>@usuario.name</td>
            <td>@usuario.email</td>
            <td>@usuario.direccion</td>
            <td>@usuario.telefono</td>
            <td>@usuario.edad</td>
            <td>
                <a href="@Url.Action("Actualizar","Usuarios",new { id=usuario.id })" class="btn btn-success">Actualizar</a>
                <a href="@Url.Action("Eliminar","Usuarios",new { id=usuario.id })" class="btn btn-danger">Eliminar</a>
                <a href="@Url.Action("Detalle","Usuarios",new { id=usuario.id })" class="btn btn-default">Ver detalle</a>

            </td>
        </tr>
        }
    </tbody>
</table>
